.height-450 {
  height: 450px;
}
.bg {
  &-1 {
    background: url("../img/treat2.jpg") no-repeat center;
  }
  &-2 {
    background: url("../img/treat3.jpg") no-repeat center;
  }
  &-3 {
    background: url("../img/treat4.jpg") no-repeat center;
  }
  &-4 {
    background: url("../img/treat5.jpg") no-repeat center;
  }
  &-5 {
    background: url("../img/treat2.jpg") no-repeat center;
  }
}
