.btn-round {
  border-radius: 29px!important;

  &:hover {
    cursor: pointer;
  }
}
.carousel-caption .bg-none {
  background-color: transparent;
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";
    transition-timing-function: ease-out;
    transition-duration: .3s;
    transition-property: transform;
    transform: scaleY(0);
    transform-origin: 50%;

    border-radius: 0;
    background-color: $color-white;
  }
  &:hover::after {
    transform: scaleY(1);
  }
  &:hover a {
    color: $color-pink!important;
  }
}
.btn {
  position: relative;
  &:hover {
    outline: none;
  }
  a {
    position: relative;
    z-index: 100;
    &:hover {
      text-decoration: none;

      color: $color-white;
    }
  }
  &::after {
    position: absolute;
    //      z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";
    transition-timing-function: ease-out;
    transition-duration: .3s;
    transition-property: transform;
    transform: scaleY(0);
    transform-origin: 50%;

    border-radius: 29px;
    background-color: $color-black;
  }
  &:hover::after {
    //    background-color: $color-black;
    transform: scaleY(1);
  }
}
#back-top {
  position: fixed;
  right: 10px;
  bottom: 0;

  cursor: pointer;
  & a {
    font: 11px/100% Arial,Helvetica,sans-serif;

    display: block;

    width: 64px;

    transition: 1s;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #bbbbbb;
  }
  & span {
    display: block;

    width: 64px;
    height: 64px;
    margin-bottom: 7px;

    transition: 1s;

    opacity: .7;
    background: url("../img/up-arrow.png") no-repeat center center;
  }
}
