.page-footer {
  & .fa {
    font-size: 20px;
  }
}
.copyright-text {
  & a {
    color: $color-pink;

    &:hover {
      text-decoration: none;

      color: $color-pink-bright!important;
    }
  }
}
.page-contacts {
  & a {
    &:hover {
      text-decoration: none;

      color: $color-pink!important;
    }
  }
}
