.services {
  & img {
    width: 86px;
    height: 86px;
  }
  & .border-pink {
    border-color: $color-pink!important;
  }
  & h3 {
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      width: 60px;
      height: 2px;
      margin: 0 auto;

      content: "";

      background: $color-pink;
    }
  }
  & .col-md-13 {
    transition-duration: .5s;
    transition-property: transform;

    border-right: none!important;
    &#last {
      border-right: 1px solid $color-pink!important;
    }
    &:hover {
      transform: scale(1.1);

      color: $color-white;
      background-color: $color-pink;
    }
  }
}
.service-item {
  &:hover {
    & img {
      filter: invert(100%);
    }
  }
}
