.social-list {
  font-size: 0;
  &__item {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 50px;
    margin-right: 12px;

    transition: .3s linear;

    border-radius: 100%;
    background-color: rgba(82, 78, 78, .65);

    &:hover {
      background-color: $color-pink;
    }
    &::before {
      top: 32%;
      left: 30%;

      width: 20px;
      height: 20px;

      transition: .3s linear;

      background-repeat: no-repeat;

      @include pseudo;
    }
    &:active::before {
      opacity: .3;
    }
  }
  &__item--vk {
    &::before {
      background-image: url("../img/vk.svg");
    }
  }
  &__item--inst {
    &::before {
      background-image: url("../img/inst.svg");
    }
  }
  &__item--ok {
    &::before {
      top: 25%;
      left: 28%;

      width: 25px;
      height: 25px;

      background-image: url("../img/ok.svg");
    }
  }
}
